In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\91894\anaconda3\lib\site-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\91894\anaconda3\lib\site-packages (from pymongo) (2.6.1)
Note: you may need to restart the kernel to use updated packages.

# Creating a mongo database

In [2]:
#Create a database called "mydatabase":

import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/") #creating a MongoClient object, then specify a connection URL with the correct ip address

mydb = myclient["mydatabase"]# name the database "mydatabase"

## In MongoDB, a database is not created until it gets content!

## A collection in MongoDB is the same as a table in SQL databases.

# Creating a Collection
To create a collection in MongoDB, use database object and specify the name of the collection you want to create.

MongoDB will create the collection if it does not exist.

In [4]:
#Create a collection called "customers":

import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]

mycol = mydb["customers"]
#In MongoDB, a collection is not created until it gets content!

## A document in MongoDB is the same as a record in SQL databases.

# Insert Into Collection
To insert a record, or document as it is called in MongoDB, into a collection, we use the insert_one() method.

In [11]:
#Insert a record in the "customers" collection:

import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

In [12]:
x = mycol.insert_one(mydict)
print(x) #note : if you dont have mongo db install in your pc ,then the code will show you an error

InsertOneResult(ObjectId('65f889cc8f45bd0145fdd377'), acknowledged=True)

The insert_one() method returns a InsertOneResult object, which has a property, inserted_id, that holds the id of the inserted document.

In [13]:
print(x.inserted_id)

65f889cc8f45bd0145fdd377

# Insert Multiple Documents
To insert multiple documents into a collection in MongoDB, we use the insert_many() method.

The first parameter of the insert_many() method is a list containing dictionaries with the data you want to insert:

In [50]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

y= mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:

print(y.inserted_ids)

[ObjectId('65f899518f45bd0145fdd38a'), ObjectId('65f899518f45bd0145fdd38b'), ObjectId('65f899518f45bd0145fdd38c'), ObjectId('65f899518f45bd0145fdd38d'), ObjectId('65f899518f45bd0145fdd38e'), ObjectId('65f899518f45bd0145fdd38f'), ObjectId('65f899518f45bd0145fdd390'), ObjectId('65f899518f45bd0145fdd391'), ObjectId('65f899518f45bd0145fdd392'), ObjectId('65f899518f45bd0145fdd393'), ObjectId('65f899518f45bd0145fdd394'), ObjectId('65f899518f45bd0145fdd395')]

In [16]:
print(y)

InsertManyResult([ObjectId('65f889eb8f45bd0145fdd379'), ObjectId('65f889eb8f45bd0145fdd37a'), ObjectId('65f889eb8f45bd0145fdd37b'), ObjectId('65f889eb8f45bd0145fdd37c'), ObjectId('65f889eb8f45bd0145fdd37d'), ObjectId('65f889eb8f45bd0145fdd37e'), ObjectId('65f889eb8f45bd0145fdd37f'), ObjectId('65f889eb8f45bd0145fdd380'), ObjectId('65f889eb8f45bd0145fdd381'), ObjectId('65f889eb8f45bd0145fdd382'), ObjectId('65f889eb8f45bd0145fdd383'), ObjectId('65f889eb8f45bd0145fdd384')], acknowledged=True)

# Check if Database Exists

In [17]:
#Return a list of your system's databases:

print(myclient.list_database_names())

['admin', 'config', 'local', 'mydatabase', 'myddb']

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase')

# Check if Collection Exists

In [19]:
#Return a list of all collections in your database:

print(mydb.list_collection_names())

['customers']

In MongoDB we use the find() and find_one() methods to find data in a collection.

Just like the SELECT statement is used to find data in a table in a MySQL database.

# Find One
To select data from a collection in MongoDB, we can use the find_one() method.

The find_one() method returns the first occurrence in the selection.

In [25]:
mycol.find_one()

{'_id': ObjectId('65f881678f45bd0145fdd368'),
 'name': 'John',
 'address': 'Highway 37'}

# Find All
To select data from a table in MongoDB, we can also use the find() method.

The find() method returns all occurrences in the selection.

In [26]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('65f881678f45bd0145fdd368'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65f8891e8f45bd0145fdd370'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65f8891e8f45bd0145fdd371'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65f8891e8f45bd0145fdd372'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65f8891e8f45bd0145fdd373'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65f8891e8f45bd0145fdd374'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65f8891e8f45bd0145fdd375'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65f889cc8f45bd0145fdd377'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65f889eb8f45bd0145fdd379'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65f889eb8f45bd0145fdd380'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65f889eb8f45bd0145fdd381'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65f889eb8f45bd0145fdd382'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65f889eb8f45bd0145fdd383'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65f889eb8f45bd0145fdd384'), 'name': 'Viola', 'address': 'Sideway 1633'}

# Return Only Some Fields
The second parameter of the find() method is an object describing which fields to include in the result.

This parameter is optional, and if omitted, all fields will be included in the result.

In [27]:
#Return only the names and addresses, not the _ids
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [31]:
mycol.find({},{ "_id": 0, "name": 1, "address": 1 })

In [28]:
for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('65f881678f45bd0145fdd368'), 'name': 'John'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36a'), 'name': 'Amy'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36b'), 'name': 'Hannah'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36c'), 'name': 'Michael'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36d'), 'name': 'Sandy'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36e'), 'name': 'Betty'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36f'), 'name': 'Richard'}
{'_id': ObjectId('65f8891e8f45bd0145fdd370'), 'name': 'Susan'}
{'_id': ObjectId('65f8891e8f45bd0145fdd371'), 'name': 'Vicky'}
{'_id': ObjectId('65f8891e8f45bd0145fdd372'), 'name': 'Ben'}
{'_id': ObjectId('65f8891e8f45bd0145fdd373'), 'name': 'William'}
{'_id': ObjectId('65f8891e8f45bd0145fdd374'), 'name': 'Chuck'}
{'_id': ObjectId('65f8891e8f45bd0145fdd375'), 'name': 'Viola'}
{'_id': ObjectId('65f889cc8f45bd0145fdd377'), 'name': 'John'}
{'_id': ObjectId('65f889eb8f45bd0145fdd379'), 'name': 'Amy'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37a'), 'name': 'Hannah'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37b'), 'name': 'Michael'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37c'), 'name': 'Sandy'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37d'), 'name': 'Betty'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37e'), 'name': 'Richard'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37f'), 'name': 'Susan'}
{'_id': ObjectId('65f889eb8f45bd0145fdd380'), 'name': 'Vicky'}
{'_id': ObjectId('65f889eb8f45bd0145fdd381'), 'name': 'Ben'}
{'_id': ObjectId('65f889eb8f45bd0145fdd382'), 'name': 'William'}
{'_id': ObjectId('65f889eb8f45bd0145fdd383'), 'name': 'Chuck'}
{'_id': ObjectId('65f889eb8f45bd0145fdd384'), 'name': 'Viola'}

# Python MongoDB Query

# Filter the Result
When finding documents in a collection, you can filter the result by using a query object.

The first argument of the find() method is a query object, and is used to limit the search

In [ ]:
myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

# Advanced Query

In [37]:
#Find documents where the address starts with the letter "S" or higher:
myquery = { "address": { "$gt": "S" } } # $gt is greater than operator
mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('65f8891e8f45bd0145fdd36c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65f8891e8f45bd0145fdd371'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65f8891e8f45bd0145fdd375'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65f889eb8f45bd0145fdd380'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65f889eb8f45bd0145fdd384'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [36]:
myquery = { "address": { "$lt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('65f881678f45bd0145fdd368'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65f8891e8f45bd0145fdd370'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65f8891e8f45bd0145fdd372'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65f8891e8f45bd0145fdd373'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65f8891e8f45bd0145fdd374'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65f889cc8f45bd0145fdd377'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65f889eb8f45bd0145fdd379'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65f889eb8f45bd0145fdd381'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65f889eb8f45bd0145fdd382'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65f889eb8f45bd0145fdd383'), 'name': 'Chuck', 'address': 'Main Road 989'}

# Filter With Regular Expressions
You can also use regular expressions as a modifier.

## Regular expressions can only be used to query strings.

In [38]:
myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('65f8891e8f45bd0145fdd36f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65f8891e8f45bd0145fdd375'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65f889eb8f45bd0145fdd384'), 'name': 'Viola', 'address': 'Sideway 1633'}

# Python MongoDB Sort

# Sort the Result
Use the sort() method to sort the result in ascending or descending order.

In [39]:
mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('65f8891e8f45bd0145fdd36a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65f889eb8f45bd0145fdd379'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65f8891e8f45bd0145fdd372'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65f889eb8f45bd0145fdd381'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65f8891e8f45bd0145fdd374'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65f889eb8f45bd0145fdd383'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65f881678f45bd0145fdd368'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65f889cc8f45bd0145fdd377'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65f8891e8f45bd0145fdd370'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65f8891e8f45bd0145fdd371'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65f889eb8f45bd0145fdd380'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65f8891e8f45bd0145fdd375'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65f889eb8f45bd0145fdd384'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65f8891e8f45bd0145fdd373'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65f889eb8f45bd0145fdd382'), 'name': 'William', 'address': 'Central st 954'}

# Sort Descending
Use the value -1 as the second parameter to sort descending.

sort("name", 1) #ascending
sort("name", -1) #descending

In [40]:
mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

{'_id': ObjectId('65f8891e8f45bd0145fdd373'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65f889eb8f45bd0145fdd382'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65f8891e8f45bd0145fdd375'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65f889eb8f45bd0145fdd384'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65f8891e8f45bd0145fdd371'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65f889eb8f45bd0145fdd380'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65f8891e8f45bd0145fdd370'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65f881678f45bd0145fdd368'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65f889cc8f45bd0145fdd377'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65f8891e8f45bd0145fdd374'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65f889eb8f45bd0145fdd383'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65f8891e8f45bd0145fdd372'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65f889eb8f45bd0145fdd381'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65f889eb8f45bd0145fdd379'), 'name': 'Amy', 'address': 'Apple st 652'}

# Python MongoDB Delete Document
# Delete Document

To delete one document, we use the delete_one() method.

In [41]:

myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [43]:
#print the customers collection after the deletion:
for x in mycol.find():
  print(x)

{'_id': ObjectId('65f881678f45bd0145fdd368'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65f8891e8f45bd0145fdd36f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65f8891e8f45bd0145fdd370'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65f8891e8f45bd0145fdd371'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65f8891e8f45bd0145fdd372'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65f8891e8f45bd0145fdd373'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65f8891e8f45bd0145fdd374'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65f8891e8f45bd0145fdd375'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65f889cc8f45bd0145fdd377'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65f889eb8f45bd0145fdd379'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65f889eb8f45bd0145fdd37f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65f889eb8f45bd0145fdd380'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65f889eb8f45bd0145fdd381'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65f889eb8f45bd0145fdd382'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65f889eb8f45bd0145fdd383'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65f889eb8f45bd0145fdd384'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [44]:
x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

1  documents deleted.

# Delete Many Documents
To delete more than one document, use the delete_many() method.

In [45]:
#Delete all documents were the address starts with the letter S:

import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

4  documents deleted.

# Delete All Documents in a Collection

In [46]:
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

20  documents deleted.

# Delete Collection
You can delete a table, or collection as it is called in MongoDB, by using the drop() method.

In [59]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mycol.drop()

# Update Collection
You can update a record, or document as it is called in MongoDB, by using the update_one() method.

In [60]:
#Change the address from "Valley 345" to "Canyon 123":
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

y= mycol.insert_many(mylist)

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

{'_id': ObjectId('65f89a5b8f45bd0145fdd3c1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65f89a5b8f45bd0145fdd3c2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65f89a5b8f45bd0145fdd3c3'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('65f89a5b8f45bd0145fdd3c4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65f89a5b8f45bd0145fdd3c5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65f89a5b8f45bd0145fdd3c6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65f89a5b8f45bd0145fdd3c7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65f89a5b8f45bd0145fdd3c8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65f89a5b8f45bd0145fdd3c9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65f89a5b8f45bd0145fdd3ca'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65f89a5b8f45bd0145fdd3cb'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65f89a5b8f45bd0145fdd3cc'), 'name': 'Viola', 'address': 'Sideway 1633'}

# Update Many
To update all documents that meets the criteria of the query, use the update_many() method.

In [61]:
#Update all documents where the address starts with the letter "S":
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

2 documents updated.

# Limit the Result

In [66]:
#Limit the result to only return 5 documents:
myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
  print(x)

{'_id': ObjectId('65f89a5b8f45bd0145fdd3c1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65f89a5b8f45bd0145fdd3c2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65f89a5b8f45bd0145fdd3c3'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('65f89a5b8f45bd0145fdd3c4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65f89a5b8f45bd0145fdd3c5'), 'name': 'Betty', 'address': 'Green Grass 1'}