#

# True and 1 is considered the same value:

In [24]:
thisset = {"apple", "banana", "cherry", True, 1, 2,0,False,"orange"}

print(thisset)

{0, True, 2, 'banana', 'orange', 'cherry', 'apple'}

### From Python's perspective, sets are defined as objects with the data type 'set':

# Access Items
## You cannot access items in a set by referring to an index or a key.
### But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [8]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [9]:
thisset = {"banana","apple", "cherry"}

for x in thisset:
  print(x)             #unorderd

apple
banana
cherry

In [10]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

# Add Items

In [11]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'orange', 'banana', 'cherry'}

# To add items from another set into the current set, use the update() method.

In [25]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'pineapple', 'mango', 'cherry', 'apple', 'papaya'}

# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionariesðŸ˜— etc.)ðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜Š.

In [26]:
#Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'orange', 'cherry', 'kiwi', 'apple'}

# Remove Item
## To remove an item in a set, use the remove(), or the discard() method

In [27]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)
#Note: If the item to remove does not exist, remove() will raise an error

{'apple', 'cherry'}

In [28]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)
#Note: If the item to remove does not exist, discard() will NOT raise an error

{'apple', 'cherry'}

# You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

## The return value of the pop() method is the removed item.

In [35]:
#Remove a random item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [36]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [37]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# JOIN SET

In [38]:
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [39]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}