In [3]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [2]:
type(thistuple[1])

str

In [4]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5]) # Note: The search will start at index 2 (included) and end at index 5 (not included).

('cherry', 'orange', 'kiwi')

In [6]:
type(thistuple[2:5])

tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

# Change Tuple Values
##  Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

## But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [11]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

('apple', 'kiwi', 'cherry')

#  Inset in tupple

In [12]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [16]:
y+thistuple+y

('orange', 'apple', 'banana', 'cherry', 'orange', 'orange')

In [19]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

# Unpacking a Tuple
## When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [ ]:
fruits = ("apple", "banana", "cherry")

In [1]:
#Unpacking a tuple:

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

# If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [2]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [3]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Join Two Tuples

In [4]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply Tuples

In [5]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

TypeError: can't multiply sequence by non-int of type 'list'

# count

In [9]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2